<!-- Default home page -->
<link type="text/css" href='http://sailsjs.org/styles/fonts.css' rel='stylesheet'/>
<style type="text/css">        
    html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
</style>
<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeKJXUMHQrIKIGLWVoWQWlwvoD3AZ42t4">
    </script>
    <script type="text/javascript">
      function initialize() {
        var suggestions = JSON.parse('<%- JSON.stringify(suggestions) %>');
        console.log(suggestions);

        var mapOptions = {
            zoom: 12
        };
        
        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
        
        navigator.geolocation.getCurrentPosition(
            function(position){
               var myLatLng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
               map.panTo(myLatLng);
            },
            function(err){
               var fredericksburgLatLng = new google.maps.LatLng(38.3018, -77.4708);
               map.panTo(fredericksburgLatLng);
            },
            {timeout:10000});        
 
        suggestions.forEach(function(suggestion, index) {
            var suggestionLatLng = new google.maps.LatLng(suggestion.latitude, suggestion.longitude);
            
            var image = 'images/type_other.png';
            
            switch (suggestion.type){
                case 'Traffic': 
                    image = 'images/type_traffic.png';
                    break;
                case 'Landscaping':
                    image = 'images/type_landscaping.png';
                    break;
                case 'Maintenance':
                    image = 'images/type_maintenance.png';
                    break;
                case 'Litter':
                    image = 'images/type_litter.png';
                    break;
                default:
                    image = 'images/type_other.png';
                    break;
            };
            
            var marker = new google.maps.Marker({
                position: suggestionLatLng,
                map: map,
                title: suggestion.description,
                icon: image
            });
        });
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <div id="overlay"><img src="images/suggesty_350.png"/></div>
    <div id="map-canvas"></div>
</div>
