<!-- Default home page -->
<link type="text/css" href='http://sailsjs.org/styles/fonts.css' rel='stylesheet'/>
<style>    
    html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
</style>
<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeKJXUMHQrIKIGLWVoWQWlwvoD3AZ42t4">
    </script>
    <script type="text/javascript">
      function initialize() {
        var suggestions = JSON.parse('<%- JSON.stringify(suggestions) %>');
        console.log(suggestions);
        var myLatlng = new google.maps.LatLng(suggestions[0].latitude, suggestions[0].longitude);
        var mapOptions = {
            zoom: 12,
            center: myLatlng
        };
        
        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
 

        suggestions.forEach(function(suggestion, index) {
            var suggestionLatLng = new google.maps.LatLng(suggestion.latitude, suggestion.longitude);
            var marker = new google.maps.Marker({
                position: suggestionLatLng,
                map: map,
                title: suggestion.description
            });
        });
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <div id="map-canvas"></div>
</div>
