<!-- Default home page -->
<link type="text/css" href='http://sailsjs.org/styles/fonts.css' rel='stylesheet'/>
<style>    
    html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
</style>
<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeKJXUMHQrIKIGLWVoWQWlwvoD3AZ42t4">
    </script>
    <script type="text/javascript">
      function initialize() {
        var myLatlng = new google.maps.LatLng(<%= latitude %>, <%= longitude %>);
        var mapOptions = {
            zoom: 8,
            center: myLatlng
        };
        
        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
        
        var marker = new google.maps.Marker({
              position: myLatlng,
              map: map,
              title: '<%= description %>'
          });
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
<script type="text/javascript">
setTimeout(function sunrise () {
    document.getElementsByClassName('header')[0].style.backgroundColor = '#118798';
}, 0);
</script>
    <div id="map-canvas"></div>
</div>
